[Desktop Entry]
Encoding=UTF-8
Name=Link to Arduino Modules - Rain Sensor
Type=Link
URL=http://www.instructables.com/id/Arduino-Modules-Rain-Sensor/
Icon=text-html
